.order_list_wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.buy_again_modal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}
.buy_again_list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  overflow: auto;
}
